<h2>New User</h2>
<%= form_for(@user) do |f| %>
  <p> Username: <%= f.text_field :name %> </p>
  <p> Password: <%= f.password_field :password %> </p>
  <p> Confirm Password: <%= f.password_field :password_confirmation %> </p>
  <%= f.submit "Create User" %>
  <% end %>
