<h2><%= "#{@user.name}'s profile"%> </h2>
<h3>links</h3>
<ul>
  <% @user.links.each do |link| %>
    <li><%= link_to link.body, link, class: "main-link" %> | comments: <%= link.comments.count %> | <span class="greenits">greenits: <%= link.votes.count %></span> | <span class="reddits">reddits <%= link.downvotes.count %></span> </li>
  <% end %>
</ul>
<h3>comments by <%= @user.name %></h3>
<ul>
  <% @user.comments.each do |comment| %>
    <li><%= link_to comment.body, { controller: "links", action: "show", id: comment.link_id }, class: "comment-body" %> |<span class="greenits"> greenits: <%= comment.votes.count%> </span> |<span class="reddits"> reddits: <%= comment.downvotes.count %> </span></li>
  <% end %>
</ul>
<h3>greened links</h3>
<ul>
  <% @user.votes.each do |vote| %>
    <% if vote.link_id %>
      <li><%= link_to Link.find(vote.link_id).body, vote.link, class: "main-link" %> </li>
    <% end %>
  <% end %>
</ul>
<h3>redded links</h3>
<ul>
  <% @user.downvotes.each do |downvote| %>
  <% if downvote.link_id %>
    <li><%= link_to Link.find(downvote.link_id).body, downvote.link, class: "main-link" %> </li>
  <% end %>
<% end %>
</ul>
<h3>greened comments</h3>
<ul>
  <% @user.votes.each do |vote| %>
    <% if vote.comment_id %>
      <li><%= link_to Link.find(vote.comment.link_id).body, { controller: "links", action: "show", id: vote.comment.link_id }, class: "main-link" %> </li>
    <% end %>
  <% end %>
</ul>
<h3>redded comments</h3>
<ul>
  <% @user.downvotes.each do |downvote| %>
  <% if downvote.comment %>
    <li><%= link_to Link.find(downvote.comment.link_id).body, { controller: "links", action: "show", id: downvote.comment.link_id }, class: "main-link" %> </li>
  <% end %>
<% end %>
</ul>
