<h2>greenit boards</h2>
<div class="board-links">
  <% @boards.each do |board| %>
    <p><%= link_to board.name, board, class: "small-board-name" %> | <span>Links: <%= board.links.count %></span></p>
  <% end %>
</div>

<hr>

<h3>Create New Board</h3>
<%= form_for(@board) do |f| %>
  <p>
  <%= f.text_field :name, placeholder: "New Board Name", class: "new-board-area" %>
  </p>
  <p> <%= f.submit "Create Board", class: "submit-button" %> </p>
<% end %>
