<!DOCTYPE html>
<html>
<head>
  <title>greenit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="greenit/public/favicon.ico" />
</head>
<body>
  <div class="wrapper">
    <header class="main">
      <h1> <%= link_to "greenit", root_path, class: "logo" %> </h1>
      <nav class="nav-link-separators">

        <%= link_to "New Link", new_link_path, class: "nav-links" %>
        |
        <%= link_to "Boards", boards_path, class: "nav-links" %>
        |
        <%= link_to "Links", links_path, class: "nav-links" %>
        |
        <%= link_to "About", about_path, class: "nav-links" %>
        |
        <%= link_to "Sign Up", new_user_path, class: "nav-links" %>
        |
        <% if logged_in? %>
          <%= link_to "Logout", logout_path, class: "nav-links" %>
        <% else %>
          <%= link_to "Login", login_path, class: "nav-links" %>
        <% end %>
        |
      <% if @current_user %>
        <span class="nav-user"><%= link_to @current_user.name, @current_user %></span></nav>
      <% end %>
    </header>
    <div class='main-page'>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, { class: "flash #{name}" }) %>
      <% end %>

    <%= yield %>

    </div>
    <footer class="footer">
      <%= params.inspect if Rails.env.development? %><a href="https://matthew-giardina.herokuapp.com" class="nav-links"> Created by mlgiardina</a>
    </footer>
  </div>
</body>
</html>
