<!DOCTYPE html>
<html>
<head>
  <title>greenit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="greenit/public/favicon.ico" />
</head>
<body>
  <header class="main">
    <h1> <%= link_to "greenit", root_path %> </h1>
    <nav>
      |
      <%= link_to "New Link", new_link_path %>
      |
      <%= link_to "Boards", boards_path %>
      |
      <%= link_to "Links", links_path %>
      |
      <%= link_to "About", about_path %>
      |
      <%= link_to "Sign Up", new_user_path %>
      |
      <% if logged_in? %>
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Login", login_path %>
      <% end %>
      |
    </nav>
    <% if @current_user %>
      <%= "Hello, #{@current_user.name}" %>
    <% end %>
  </header>
  <div class='container'>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, { class: "flash #{name}" }) %>
    <% end %>

<%= yield %>

  </div>
  <footer>
    <%= params.inspect if Rails.env.development? %>
  </footer>

</body>
</html>
